<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="homepage.css">


</head>

<body>

    <!-- header  -->

    <header class="header">

        <a href="homepage.ejs" class="logo"> <i class="fas fa-shopping-basket"></i> Foodsco </a>

        <nav class="navbar">
            <a href="homepage.ejs">home</a>
            <a href="shop.ejs">shop</a>
            <a href="#about">about</a>
            <a href="contact.ejs">contact</a>
        </nav>

        <div class="icons">

            <div id="search-btn" class="fas fa-search"></div>
            <a href="cart.ejs">
                 <div id="cart-btn" class="fas fa-shopping-cart"></div>
            </a>
            <a href="login.ejs">
                <div id="login-btn" class="fas fa-user"></div>
            </a>
            <div id="btn">hello <%=uname%></div>
        </div>

        <form action="" class="search-form">
            <input type="search" name="search-box" placeholder="search" id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>

    </header>

    <!-- header -->

    <section class="home">

        <div class="slides-container">

            <div class="slide active">
                <div class="content">

                    <h3>You need it, we deliver it</h3>
                    <a href="shop.ejs" class="btn">shop now</a>
                </div>
                <div class="image">
                    <img src="images\slide1.jpg" alt="">
                </div>
            </div>

            <div class="slide">
                <div class="content">
                    <h3>You need it, we deliver it</h3>
                    <a href="shop.ejs" class="btn">shop now</a>
                </div>
                <div class="image">
                    <img src="images/slide2.jpg" alt="">
                </div>
            </div>

            <div class="slide">
                <div class="content">
                    <h3>You need it, we deliver it</h3>
                    <a href="shop.ejs" class="btn">shop now</a>
                </div>
                <div class="image">
                    <img src="images/slide3.jpg" alt="">
                </div>
            </div>

        </div>

        <div id="next-slide" class="fas fa-angle-right" onclick="next()"></div>
        <div id="prev-slide" class="fas fa-angle-left" onclick="next()"></div>

    </section>

    <section class="banner-container">

        <div class="banner">
            <img src="images/cart-1.jpg" alt="">
            <div class="content">
                <h3>upto 50% off</h3>
                <a href="shop.ejs" class="btn">shop now</a>
            </div>
        </div>

        <div class="banner">
            <img src="images/cart-2.jpg" alt="">
            <div class="content">
                <h3>upto 50% off</h3>
                <a href="shop.ejs" class="btn">shop now</a>
            </div>
        </div>

        <div class="banner">
            <img src="images/cart-3.jpg" alt="">
            <div class="content">
                <h3>upto 50% off</h3>
                <a href="shop.ejs" class="btn">shop now</a>
            </div>
        </div>

    </section>


    <div class="footer">

        <div class="about-heading">
            <h1>about us</h1>
        </div>

        <section class="about" id="about">
            <div class="content">
                <h3>fresh and organic groceries</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae vel sequi nostrum quae nobis non
                    quaerat nisi voluptatibus recusandae reprehenderit tempore eligendi, eum quibusdam perferendis
                    dicta, incidunt dolores nemo ex.</p>
            </div>

        </div>
        <script src="script.js"></script>

</body>

</html>