@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /* text-transform: capitalize; */
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  padding: 3rem 9%;
}

.heading {
  background: url(images/beige.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 8rem;
}

.heading h1 {
  color: #222;
  font-size: 4rem;
}

.heading p {
  padding-top: 1rem;
  font-size: 2rem;
  color: #666;
}

.heading p a {
  color: #222;
  padding-right: .5rem;
}

.heading p a:hover {
  color: #20dbc2;
}

.title {
  display: flex;
  box-align: center;
  align-items: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  color: #222;
}

.title span {
  color: #20dbc2;
  padding-left: .7rem;
}

.title a {
  margin-left: auto;
  color: #666;
  font-size: 1.5rem;
}

.title a:hover {
  color: #20dbc2;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: .8rem 3rem;
  background: #20dbc2;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}

.btn:hover {
  background: #222;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  box-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

.header .logo {
  font-size: 3.5rem;
  font-weight: bolder;
  color: #222;
}

.header .logo i {
  color: #20dbc2;
  padding-right: .5rem;
}

.header .navbar a {
  font-size: 2rem;
  color: #666;
  margin: 0 2.5rem;
}

.header .navbar a:hover {
  color: #20dbc2;
}

.header .icons div {
  font-size: 2.5rem;
  margin: 0 1rem 0 1rem;
  cursor: pointer;
  color: #666;
}

.header .icons div:hover {
  color: #20dbc2;
}

.header .search-form {
  position: absolute;
  top: -115%;
  right: 2rem;
  width: 50rem;
  border-radius: 1rem;
  display: flex;
  box-align: center;
  align-items: center;
  height: 5.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #20dbc2;
}

.header .search-form.active {
  top: 115%;
}

.header .search-form input {
  height: 100%;
  width: 100%;
  padding: 0 1.2rem;
  font-size: 1.6rem;
  color: #222;
  text-transform: none;
  background-color: #FFFFFF;
}

.header .search-form label {
  font-size: 2.5rem;
  margin-right: 1.7rem;
  cursor: pointer;
  color: #666;
}

.header .search-form label:hover {
  color: #20dbc2;
}

#menu-btn {
  display: none;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

